<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Post</title>
</head>

<body>
    <%- include("partials/header.ejs") %>

    <% posts.forEach((post, index) => { %>


       

          <div class="row mb-2 justify-content-center">
            <div class="col-md-4 text-center">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light">
                <div class="col p-4 d-flex flex-column position-static">
                  <!-- <strong class="d-inline-block mb-2 text-primary-emphasis"><%= post.fname %></strong>
                  <h3 class="mb-0"><%= post.title %></h3>  -->
                  <blockquote class="blockquote">
                    <h1 class="m-3 p-1"><%= post.title %></h1>
                    <footer class="blockquote-footer">By <cite title="Source Title"><%= post.fname %></cite></footer>
                  </blockquote>           
                  <div class="text-center">
                    <div class="btn-group" role="group">
                        <!-- 投稿閲覧　-->
                            <form action="/view" method="post">
                                <input type="hidden" name="blogIndex" value="<%= index %>">        
                                <input type="submit" class="btn btn-primary me-1" value="View" />
                            </form>
                    
                           <!-- 投稿編集　-->
                            <form action="/edit" method="post">
                                <input type="hidden" name="blogIndex" value="<%= index %>">        
                                <input type="submit" class="btn btn-primary me-1" value="Edit" />
                            </form>
                    
                             <!-- 投稿消除 -->
                            <form action="/delete" method="post">
                                <input type="hidden" name="blogIndex" value="<%= index %>">        
                                <input type="submit" class="btn btn-primary" value="Delete" />
                            </form>
                        </div>
                  </div>
                  
                </div>

              </div>
            </div>            
          </div>
        <!-- <li>
            <h2><%= post.fname %></h2>
            <h2><%= post.title %></h2>
            <p><%= post.blogContent %></p>
        </li> -->
    
        
    
    <% }) %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <%- include("partials/footer.ejs") %>
</body>
</html>
